# +-----------------------------+
# |          PhpStorm           |
# +-----------------------------+

.idea/
atlassian-ide-plugin.xml



# +-----------------------------+
# |    Mac folder attributes    |
# +-----------------------------+

.DS_Store

