# +-----------------------------+
# |       Titanium Studio       |
# +-----------------------------+

Resources/
build/
.project
build.log
tiapp.xml
manifest



# +-----------------------------+
# |            Setup            |
# +-----------------------------+

.setup/.tmp/*
!.setup/.tmp/.gitkeep



# +-----------------------------+
# |            misc             |
# +-----------------------------+

npm-debug.log
tmp

