# +-----------------------------+
# |       Titanium Studio       |
# +-----------------------------+

Resources/
build/
.project
build.log
tiapp.xml
manifest



# +-----------------------------+
# |            misc             |
# +-----------------------------+

npm-debug.log
tmp

